extends ../../component/common/layout
include ../../component/common/mixin
//- include ../../component/common/pagese
block append head
    title 批量管理
block append style
    link(rel='stylesheet', href='../../static/css/daterangepicker.css')
    link(rel='stylesheet', href='../../static/css/menberCenter/orderManagePay.css')

body
  block header
    include ../../component/common/header_center

  block content
    include ../../../model/menberCenter/orderManageData
    .menber-center
        .center-cont
            //- 左导航
            ul.left-nav
                - for (var i=0; i<left_centerNavs.length; i++)
                    if i==0
                        li.first_nav.cur
                            a #{left_centerNavs[i].text}
                            if left_centerNavs[i].children && left_centerNavs.length>0
                                ul
                                    - for (var j=0; j<left_centerNavs[i].children.length; j++)
                                        li.second_nav
                                            a(href='left_centerNavs[i].children[j].url') #{left_centerNavs[i].children[j].text}
                    else
                        li.first_nav
                            a #{left_centerNavs[i].text}
                            if left_centerNavs[i].children && left_centerNavs.length>0
                                ul
                                    - for (var j=0; j<left_centerNavs[i].children.length; j++)
                                        li.second_nav
                                            a(href='left_centerNavs[i].children[j].url') #{left_centerNavs[i].children[j].text}
            //- 右边内容
            .search-content
                //-.searchResult-cont
                    include ../../component/menberCenter/orderTablePay
                .batch-payment
                    .no-order-tip
                        h2 暂无加入批量支付的订单
                        p 请重新添加需批量支付的订单，若已添加可尝试刷新。
                        .no-order-tip-btn
                            a.add-btn 添加订单
                            a 刷新
                    ul.batch-payment-list
                        -for(var i=0;i<3;i++)
                            li.payment-list-group
                                .payment-list-hd
                                    i.icon-uncheck(class=i==0?'checked':'')
                                    span B2B平台运营管理公司
                                    em （已选择<em class='check-num'>6</em>个订单）
                                .payment-list-bd.notshow
                                    ul.payment-list-table
                                        li
                                            span.payment-order-num 订单编号
                                            span.payment-order-line 产品
                                            span.payment-order-place-time 下单时间
                                            span.payment-order-start-time 出发时间
                                            span.payment-order-amount 金额
                                            span.payment-order-operate 操作
                                        -for(var j=0;j<6;j++)
                                            li.payment-list-item
                                                span.payment-order-num 201806120000242
                                                span.payment-order-line
                                                    a 【尚·博览】土耳其、迪拜15天＊全景大环游＊跨越欧亚中＊＜洞穴餐厅特色餐，棉花堡温泉酒店，爱琴海地中海边酒店，棕榈岛列车，谢赫扎伊德清真寺，棉花堡温泉酒店，爱琴海地中海边酒店，棕榈岛列车＞
                                                span.payment-order-place-time 2016/03/12
                                                span.payment-order-start-time 2016/03/12
                                                span.payment-order-amount ￥
                                                    em 2000
                                                span.payment-order-operate
                                                    em.remove-btn.main-red 移除
                                    .show-more-payment-order
                                        span.main-blue.pointer
                                            em.hide-tip 查看全部<em>6</em>个订单
                                            em.show-tip 收起

                //-.page-cont(style='margin-bottom: 78px')
                    +pagese('个结果')

    include ../../component/menberCenter/orderPayFooter

block footer
block append script
    script(src='../../static/js/lib/jquery.pagination.js')
    script(src='../../static/js/lib/moment.js')
    script(src='../../static/js/lib/daterangepicker.js')
    script(src='../../static/js/menberCenter/orderManagePay.js')


